---
layout: default
title: "Links that might answer your question"
bodyclass: "foi foi-suggestions"
---

<h1 class="heading-xlarge">
    Before you continue, we’ve found these links that might answer your questions
</h1>

{% include foi_suggestion.html title="Lorem ipsum dolor sit amet" excerpt="Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo." url="#" %}

{% include foi_suggestion.html title="Maecenas nec odio et ante tincidunt tempus" excerpt="Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci." url="#" %}

{% include foi_suggestion.html title="In dui magna, posuere eget tempor auctor" excerpt="Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas." url="#" %}

<hr class="text" style="margin: 2em 0;">

<p class="text">
    <strong>Not what you were looking for?</strong>
    Continue with your FOI request.
</p>

<p class="cta-section">
    <a href="contact-details.html" class="button">Continue with request</a>
</p>
