<script id="sessionList" type="text/x-jsrender">
    {% include js_templates/session_list.html %}
</script>
<script id="sarCompleteProofReminder" type="text/x-jsrender">
    {% include js_templates/sar_complete_proof_reminder.html %}
</script>
<script id="sarSubjectDetails" type="text/x-jsrender">
    {% include js_templates/sar_subject_details.html %}
</script>
<script id="sarSubjectDocumentOptions" type="text/x-jsrender">
    {% include js_templates/sar_subject_document_options.html %}
</script>
<script id="sarSubjectDocumentUpload" type="text/x-jsrender">
    {% include js_templates/sar_subject_document_upload.html %}
</script>
<script id="sarSubjectSummary" type="text/x-jsrender">
    {% include js_templates/sar_subject_summary.html %}
</script>
<script id="foiSuggestion" type="text/x-jsrender">
    {% include js_templates/foi_suggestion.html %}
</script>
