// Based heavily on:
// https://github.com/alphagov/govuk_template/blob/master/source/assets/stylesheets/_basic.scss

$proposition-border: #2e3133;
$proposition-active-nav: #1d8feb;

$footer-background: $grey-3;
$footer-border-top: #a1acb2;
$footer-link: #454a4c;
$footer-link-hover: #171819;
$footer-text: $footer-link;

@-ms-viewport {
    width: device-width;
}

html, body, button, input, table, td, th { font-family: $toolkit-font-stack; }

// basic styles for HTML5 and other elements
html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

// HTML5 display definition
main {
    display: block;
}

// self clearing floats
.group:before,
.group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.content-fixed {
    top: 0;
    position: fixed;
}

.shim {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: $footer-background;
}

html {
    -ms-overflow-style: scrollbar;
}

body {
    background: $white;
    color: $text-colour;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul, nav ol, nav ul {
    list-style: inherit;
}

fieldset {
    border: none;
    padding: 0;
}

a:link {
    color: $link-colour;
}

a:visited {
    color: $link-visited-colour;
}

a:hover {
    color: $link-hover-colour;
}

a:active {
    color: $link-active-colour;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-size: 160%;
    margin: 0;
}

b,
strong {
    font-weight: 600;
}

img {
    border: 0;
}

@include ie-lte(7) {
    button {
        overflow: visible;
    }
}

abbr[title] {
    cursor: help;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
