.heading-xsmall {
    @include bold-16();
}

main > .heading-xlarge {
    margin-top: 1.25em;
    margin-bottom: 0.625em;
}

.govuk-box-highlight {
    @include media(tablet) {
        margin: 2em 0;
    }
}

.muted {
    color: $grey-1;
}

table tbody th {
    font-weight: bold;
    vertical-align: top;
}

.foi-suggestion {
    display: block;
    margin: 1em -0.5em;
    padding: 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $grey-4;
    }

    .heading-medium {
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    p {
        color: $text-colour;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0; // avoid weird background-color gap on :focus
    }
}