.form-control-full-width {
    width: 100%;
}

.button-start,
.button-get-started {
    padding: em(7) em(41) em(7) em(16);
}

.button-secondary {
    @include button($grey-3);
}

.button-warning {
    @include button($red);
}

.cta-section {
    margin: 2em 0;

    .button + .button {
        margin-top: 1em;

        @include media(tablet) {
            margin-top: 0;
            margin-left: 0.5em;
        }
    }
}

.post-cta-information {
    .heading-medium {
        margin-top: 1.5em;

        @include media(tablet) {
            margin-top: 3em;
        }
    }

    .heading-small {
        margin-top: 1em;

        @include media(tablet) {
            margin-top: 2em;
        }
    }
}