.form-aside {
    border-left: solid 5px $border-colour;
    padding-left: em(15, 19);
    margin-bottom: $gutter-half;

    @include media(tablet) {
        margin-bottom: $gutter;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    ul, li {
        margin: 0;
    }

    li + li {
        margin-top: 0.7em;
    }

    .heading-small {
        margin-bottom: 0.5em;
    }
}
