.sar-requirements {
    @extend %contain-floats;
    padding: 30px 30px 30px 55px;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    position: relative;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 1em;
    }

    li + li {
        margin-top: 0.5em;
    }

    &:before {
        @include icon(icon-file-download, 30, 39);
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
    }
}

.sar-requirements--emphasised {
    border: 5px solid $error-colour;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding: 30px 30px 30px 85px;

    &:before {
        left: 30px;
    }

    @include media(tablet) {
        margin-top: $gutter;
        margin-bottom: $gutter;
    }
}

.sar-requirements__column {
    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    & + .sar-requirements__column {
        margin-top: 2em;
    }

    @include media(tablet) {
        float: left;

        & + .sar-requirements__column {
            margin-top: 0;
            margin-left: 2em;
        }
    }
}

body.sar-proof {
    counter-reset: sar-people;
}

.sar-person {
    padding: 1em;
    margin-bottom: 2em;
    background-color: $light-blue-10;
    counter-increment: sar-people;

    @include media(tablet) {
        padding: 1.5em;
    }

    h2 {
        margin: 0;

        &:before {
            @extend .circle;
            @extend .circle-step-large;
            content: counter(sar-people);
            vertical-align: 0.3em;
            margin-right: 1em;
        }
    }

    header {
        margin-bottom: 2em;
    }

    .form-aside {
        background-color: $light-blue-25;
    }

    // margin-top works better with the optional
    // "parental responsibility" group at the end.
    .form-group {
        margin-bottom: 0;

        & + .form-group {
            margin-top: $gutter-half;

            @include media(tablet) {
                margin-top: $gutter;
            }
        }
    }

    .sar-requirements {
        margin-bottom: 1em;
        padding-right: 0;
    }
}

.sar-person--add {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $light-blue-25;
    }

    &:before {
        @extend .circle;
        @extend .circle-step-large;
        content: "+";
        margin-right: 1em;
    }
}

.sar-check table th {
    width: 25%;
}

body.sar-check {
    counter-reset: sar-people;

    h2 {
        margin-top: 3em;

        .button {
            font-size: 0.6em;
            margin-left: 1em;
        }
    }

    .cta-section {
        margin-top: 3em;
    }
}

.sar-subject-summary {
    counter-increment: sar-people;
    position: relative;
    padding-left: 70px;
    margin-bottom: 1.5em;

    &:before {
        @extend .circle;
        @extend .circle-step-large;
        content: counter(sar-people);
        position: absolute;
        top: 0.3em;
        left: 0;
    }
}
