.heading-xsmall {
    @include bold-16();
}

main > .heading-xlarge {
    margin-top: 1.25em;
    margin-bottom: 0.625em;
}

.govuk-box-highlight {
    @include media(tablet) {
        margin: 2em 0;
    }
}

.muted {
    color: $grey-1;
}

table tbody th {
    font-weight: bold;
    vertical-align: top;
}
