<div class="sar-subject-summary">
    <table>
        <tbody>
            <tr>
                <th>Full name</th>
                <td>[[: subject['subject-name'] ]]</td>
            </tr>
          [[if subject['other-names'] ]]
            <tr>
                <th>Other names</th>
                <td>[[: subject['subject-name'] ]]</td>
            </tr>
          [[/if]]
            <tr>
                <th>Address</th>
                <td style="white-space: pre-line">[[: subject['subject-address'] ]]</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>[[: subject['subject-dob'] ]]</td>
            </tr>
          [[if requiresLetterOfConsent]]
            <tr>
                <th>Consent</th>
                <td>Once your request is submitted, we will contact you to verify you have consent to collect this person’s information.</td>
            </tr>
          [[/if]]
            <tr>
                <th>Documents</th>
              [[if subject['document-delivery-method'] === 'upload-now' ]]
                <td>
                    Proof of identity
                  [[if requiresProofOfAddress]]
                    and proof of address
                  [[/if]]
                    uploaded.
                </td>
              [[else subject['document-delivery-method'] === 'upload-later' ]]
                <td>
                    You have opted to upload
                    proof of identity
                  [[if requiresProofOfAddress]]
                    and proof of address
                  [[/if]]
                    for this person at a later date.
                </td>
              [[else subject['document-delivery-method'] === 'post' ]]
                <td>
                    You have opted to provide
                    proof of identity
                  [[if requiresProofOfAddress]]
                    and proof of address
                  [[/if]]
                    for this person by post.
                </td>
              [[else subject['document-delivery-method'] === 'service-centre' ]]
                <td>
                    You have opted to bring
                    proof of identity
                  [[if requiresProofOfAddress]]
                    and proof of address
                  [[/if]]
                    for this person to the Hackney Service Centre.
                </td>
              [[/if]]
          </tr>
        </tbody>
    </table>
</div>