<div class="sar-requirements sar-requirements--emphasised">
    <h2 class="heading-medium error-summary-heading" style="margin-bottom: 0.5em;">
        Remember to send us your proof of identity
    </h2>

    <p>We cannot begin processing this request until we have received the following documents:</p>

  [[for subjects]]

    <h3 class="heading-medium">[[: #data['subject-name'] ]]</h3>
    <ul class="list list-bullet">
        <li>Proof of identity (Driving licence, passport, or birth certificate)</li>
      [[if #data['proofOfAddressOptions'].length ]]
        <li>Proof of address ([[: ~ucfirst(~listToHumanString(#data['proofOfAddressOptions'], 'or')) ]])</li>
      [[/if]]
    </ul>
  [[if #data['document-delivery-method'] === 'upload-later' ]]
    <p><strong>Uploaded</strong> via the link in the confirmation email we just sent to you.</p>
  [[else #data['document-delivery-method'] === 'post' ]]
    <p><strong>Posted to:</strong></p>
    <p><strong>Information Governance</strong><br>1 Hillman Street<br>London<br>E8 1DY</p>
  [[else #data['document-delivery-method'] === 'service-centre' ]]
    <p><strong>Brought to:</strong></p>
    <p>Hackney Service Centre<br>1 Hillman Street<br>London<br>E8 1DY</p>
  [[/if]]

  [[/for]]
</div>